<div id='opinion'>
  <h2><%= @opinion.title %></h2>
  <%= simple_format(@opinion.description)%>
</div>

<%= link_to 'Edit Opinion', [:edit, @pointOfInterest, @opinion] %>
<%= link_to 'Delete Opinion', [@pointOfInterest, @opinion],  :method => :delete, :confirm => "Are you sure you want to delete this Opinion?" %>
<%= link_to @pointOfInterest.name,@pointOfInterest %>