<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
<script language="javascript">

    var map;
    var marker = null;

    function on_load()
    {
        map= new google.maps.Map(document.getElementById('map_canvas'), {
            center: new google.maps.LatLng(<%= @pointOfInterest.lat %>, <%= @pointOfInterest.lng %>),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            disableDefaultUI: true
        });


        marker = new google.maps.Marker({
            position: new google.maps.LatLng(<%= @pointOfInterest.lat.to_s %>, <%= @pointOfInterest.lng.to_s %>),
            map: map,
            title: "<%=@pointOfInterest.name.to_s %>"
        });

    }

    $(document).ready(function(){

        on_load();

    });
</script>


<% title(@pointOfInterest.name, "Point of Interest") %>

<h2><%= @pointOfInterest.name %></h2>

<!-- canvas for the map -->
<div style=" width:50%; height:50%; float:right">
  <div id="map_canvas" style="width:330px; height:390px; text-align:center;"></div>
</div>

<h2>Opinions</h2>

<ul id='opinions'>
  <% @pointOfInterest.opinions.each do |opinion|%>
      <li>
        #<%= opinion.id %> - <%= link_to opinion.title, [@pointOfInterest, opinion] %>
      </li>
  <% end %>
</ul>

<%= link_to 'Edit Point of Interest', edit_point_of_interest_path %>
<%= link_to "Delete Point of Interest", @pointOfInterest,:method => :delete, :confirm => "Are you sure you want to delete this Point of Interest?" %>
<%= link_to "List of Points of Interest", point_of_interests_path %>
<%= link_to "New Opinion", new_point_of_interest_opinion_path(@pointOfInterest)%>
